In [1]:
import pandas as pd;

In [4]:
series = pd.Series([1,2,3,4,5]);
series
series1 = pd.Series([1,2,3,4,5],index=['a','b','c','d','e']);
series1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [6]:
dataForm = pd.DataFrame({"name":["raj","harry"], "marks": [100,89]})
dataForm

    name  marks
0    raj    100
1  harry     89